/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
font-family: 'Cuprum', sans-serif;
}
body.bodybackground { 
} 
nav ul a,
nav .brand-logo {
  color: #EF5350;
}

.img-logo0 {
  width: 120px; 
  margin-right: 15px;
  margin-top: 2px;

}

nav .brand-logo {
font-family: 'Special Elite', cursive;

}

nav .nav-wrapper {
    padding: 0 30px;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #EF5350;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.section-intro {
  height: 100%;
  width: 100%;
}


.header{margin-top: 15%;}

.header-subtitle{margin-top: 10%;
font-size: 2.0em;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  nav .nav-wrapper {
    padding: 0 10px;
  }

  nav .brand-logo { 
font-family: 'Special Elite', cursive;
font-size: 0.5em;
right: 100%;
width: 100%;
}
.img-logo0 {
  width: 120px; 
  margin-right: 5px;
  margin-left: 40px;
  margin-top: 2px;

}

.img-studio{
height: 90px;
padding-top: 30px;
padding-bottom: 25px;
margin-top: 300px;
width: 100%;
}
}

.header-sub {
  margin: 18%;
}

.header-sub2 {
 font-family: 'Special Elite', cursive;

}

.btn-intro {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 10%;
}

  .btn-progetti{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
 }

.col-servizio {
  margin-top: 40px;
  margin-bottom: 100px
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  margin: 0%;
}


#servizio h5 {font-size: 1.6em;
line-height: 1.6em}
#servizio h6 {font-size: 1.4em;
line-height: 1.6em}

#studio h6 {font-size: 1.2em;
line-height: 1.6em}

#partner h6 {font-size: 1.0em;
line-height: 1.6em}


footer.page-footer {
  margin: 0;
  background-color: #424242;
}

.studio-sub{
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-registrazione {
  height: 100%;
  width: 100%;
}

.registrazione-icon {font-size: 6em;
margin-top: 60px;
}

.registrazione-title{
margin-top: 15%;
margin-bottom: 8%;
}
.registrazione-subtitle{
margin-top: 0%;
}
.btn-registrazione {width: 100%;
  margin-top: 5%;
}

.margen-registrazione {
  margin-top: 5%;
}

.margen-progetti {
  margin-top: 18%;
}
.social-icon {font-size: 1.5em;
color: #fff;
padding: 0 20px;
}
.social-icon:hover {
  color: #ef5350;
}

#siamo h6 {font-size: 1.2em;
line-height: 1.6em;
}

.section-chisiamo {
  height: 100%;
  width: 100%;
}
.section-partner{
  margin-top: 60px;
}

.img-Aleph {
height: 100px;
padding-top: 20px;
margin-bottom: 15px;
}
.img-impatto{
margin-top: 10%;
padding-bottom: 20px;
width: 230px;
height:100px;
}
.img-clean{
height: 140px;
padding-top: 20px;
padding-bottom: 20px;
}
.img-spazio{
height: 120px;
padding: 20px;
}

.img-studio{
height: 90px;
padding-top: 30px;
padding-bottom: 25px;
margin-top: 300px;

}

.titolo-clean{
  margin-top: 0%;
}


.img-jp {
height: 150px;
padding-top: 10px;
}

.img-Ann{
height: 150px;
padding-top: 10px;
}

.img-responsive {
height: 50px;
padding-top: 10px;
}


